@font-face{font-family: 'Futura PT Bold';  src: url("../fonts/FuturaPT-Bold.woff") format("truetype");  font-weight: normal;  font-style: normal;}
@font-face{font-family: 'Futura PT Medium';  src: url("../fonts/FuturaPT-Medium.woff") format("truetype");  font-weight: normal;  font-style: normal;}
@font-face{font-family: 'Futura PT Light';  src: url("../fonts/FuturaPT-Light.woff") format("truetype");  font-weight: normal;  font-style: normal;}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Futura PT Medium', sans-serif;
}

html {
    color: #333;
    background: #242424;
    min-height: 100%;
}

body {
    background: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    font: inherit;
    min-height: 100vh;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    opacity: 0.8;
}

/* nav toggle */
.nav-toggle {
    cursor: pointer;
    height: 20px;
    right: 5rem;
    position: fixed;
    top: 6rem;
    width: 20px;
    transition: .5s;
    z-index: 2;
}

.nav-toggle:hover {
    opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #ffffff;
    content: "";
    height: 2px;
    transition: all 0.5s;
    width: 20px;
    border-radius: 5px;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 5px;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -5px;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: #ffffff;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*nav toogle end*/

/* nav start*/
.nav {
    background: #3E3E3E;
    color: #C1C1C1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    height: 100vh;
    right: -324px;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    width: 324px;
    z-index: 1;
}

.nav-logo {
    margin: 40px 0px 0px 90px;
}

.nav-logo img {
    width: 150px;
}

.nav.expanded {
    right: 0;
}

.nav ul {
    list-style: none;
    margin: 170px 0 0 0;
    padding: 0;
}

.nav-item {
    margin-top: 65px;
}

.nav-item:first-child {
    margin-top: 0px;
}
/*nav end*/
/*header end*/
/*portfolio start*/

.grid-portfolio {
    padding-top: 40px;
    display: grid;
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}

.grid-portfolio-item{
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.item-portfolio {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px 30px 40px 30px;
}
.item-portfolio-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    min-height: 55px;
}
.portfolio-header-title{
    color: #595959;
    font-family: 'Futura PT Light', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 23px;
    margin-bottom: 0;

}
.portfolio-header-badge{
    -webkit-text-stroke: 1px rgb(1, 181, 227);
    font-family: 'Futura PT Bold', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 0;
}

.portfolio-text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.portfolio-text-title{
    font-size: 30px;
    padding-bottom: 10px;
}
.portfolio-text{
    font-size: 14px;
    line-height: 22.4px;
    color: rgba(51, 51, 51, 1);
}

.portfolio-geo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.portfolio-city{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0  7px 0 17px;

}
/*portfolio end*/
