@font-face {
    font-family: 'Futura PT Bold';
    src: url("../fonts/FuturaPT-Bold.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Medium';
    src: url("../fonts/FuturaPT-Medium.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Light';
    src: url("../fonts/FuturaPT-Light.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Futura PT Medium', sans-serif;
}

html {
    color: #333;
    background: #242424;
    min-height: 100%;
}

body {
    background: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    font: inherit;
    min-height: 100vh;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    opacity: 0.8;
}

button {
    border: none;
}

/* nav toggle */
.nav-toggle {
    cursor: pointer;
    height: 20px;
    right: 5rem;
    position: fixed;
    top: 65px;
    width: 20px;
    transition: .5s;
    z-index: 2;
}

.nav-toggle:hover {
    opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #ffffff;
    content: "";
    height: 2px;
    transition: all 0.5s;
    width: 20px;
    border-radius: 5px;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 5px;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -5px;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: #ffffff;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*nav toogle end*/
/* nav start*/
.nav {
    background: #3E3E3E;
    color: #C1C1C1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    height: 100vh;
    right: -324px;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    width: 324px;
    z-index: 1;
}

header {
    max-width: 1740px;
    height: 160px;
    margin-bottom: 60px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 50px;
}

.nav-logo {
    margin: 40px 0px;
}

.nav-logo img {
    width: 150px;
}

.nav.expanded {
    right: 0;
}

.nav ul {
    list-style: none;
    margin: 170px 0 0 0;
    padding: 0;
}

.nav-item {
    margin-top: 65px;
}

.nav-item:first-child {
    margin-top: 0px;
}

/*nav end*/
/*header end*/
/*portfolio start*/
/*header portfolio start*/
.grid-portfolio-header {
    display: grid;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: 5fr 6fr;
    box-shadow: -4px 3px 14px rgba(0, 0, 0, 0.05), 7px 8px 14px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background: #FFFFFF;
    padding: 40px 110px;
}

.portfolio-header-part {
    display: flex;
    align-items: center;
}

.selectpicker-wrapper {

    display: flex;
    align-items: center;
    max-width: 420px;
    width: 100%;

}

.select-title{
    padding-right: 35px;
    padding-left: 10px
}
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    max-width: 320px;
    width: 100%;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    font-family: "Futura PT Light", sans-serif;
    background: rgba(37, 37, 37, 1);
    color: #FFFFFF;
    outline: none;
    border-radius: 0;
    width: 100%;
    min-height: 37px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    font-family: "Futura PT Light", sans-serif;
    cursor: pointer;
    transition: .3s;

}

/* Style items (options): */
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(56, 56, 56, 1);
    color: rgba(193, 193, 193, 1);
    text-transform: uppercase;
    font-size: 13px;
    animation: .5s visible;

}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

@keyframes visible {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.15);
}

.button {
    background: rgba(1, 169, 212, 1);
    padding: 12px 40px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    color: #FFFFFF;
    transition: .3s;
}

.button:hover {
    background: rgb(2, 137, 172);
}

.button:active {
    background: rgb(46, 142, 167);
}

/*header portfolio   end*/
.grid-portfolio {
    padding-top: 40px;
    display: grid;
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}

.grid-portfolio-item {
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: 5fr 3fr;
    grid-gap: 40px;
}

.item-portfolio {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 35px 35px 45px 35px;
}

.item-portfolio-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    min-height: 55px;
}

.portfolio-img-wrapper img {
    height: auto;
    width: 100%;
    /* еще больше контроля с max-width */
    max-width: 720px;
}

.portfolio-header-title {
    color: #595959;
    font-family: 'Futura PT Light', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 23px;
    margin-bottom: 0;

}

.portfolio-header-badge {
    -webkit-text-stroke: 1px rgb(1, 181, 227);
    font-family: 'Futura PT Bold', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 0;
}

.portfolio-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.portfolio-text-title {
    font-size: 30px;
    padding-bottom: 10px;
}

.portfolio-text {
    font-size: 14px;
    line-height: 22.4px;
    color: rgba(51, 51, 51, 1);
    padding-right: 15px;

}

.portfolio-geo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.portfolio-city {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 7px 0 17px;

}

/*pagination start*/
.pagination-items {
    display: flex;
    justify-content: center;
    margin: 80px 0 140px 0;
    list-style: none;
}

.pagination-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    margin: 0 0 0 40px;
    transition: .3s;
}

.pagination-item:first-child {
    margin: 0;
}


.active {
    background: rgba(1, 169, 212, 1);
    color: #fff;
}

/*pagination end*/
/*portfolio end*/
@media only screen and (max-width: 1371px) {

}
@media only screen and (max-width: 1224px) {

}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 320px) {
}


